.modal_page {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    justify-content: center;
    align-items: center;
}

.modal_content {
    width: fit-content;
    height: fit-content;
    background: #F5F5F5;
    border: 1px solid #95B4A9;
    padding: 30px;
}

.modal_hide{
    display: none
}

.modal_show{
    display: block
}

.modal_action_btn_panel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
}

.modal_action_question_block{
    margin-top: 15px;
}

.PopupMessage{
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 15px;
}