.ServicesControlWidget{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    border: 1px solid black;
    margin-bottom: 10px;
}

.ServiceControlUnit{
    display: flex;
    flex-direction: row;
    width: 450px;
    gap: 10px;
    border: 1px solid lightgrey
}

.ServiceControlUnit button{
    height: 25px;
}